#first_section::after {
   clip-path: polygon(0% 0%, 91% 0, 86% 57%, 82.5% 100%, 0% 100%);
   content: "";
   position: absolute;
   width: 87.5%;
   height: 100%;
   background-color: #d5193e;
   background-image: url(../img1/logo-white.png);
   background-repeat: no-repeat;
   background-position: 45%;
   padding: 0;
}
#third_section {
   padding-left: 70px;
}
#third_section li {
   padding-right: 35px;
   padding-left: 0;
   text-align: left;
   padding-bottom: 10px;
   padding-top: 10px;
}
@media screen and (max-width: 1250px) {
   #third_section {
      padding-left: 0px !important;
   }
}
#her a {
   color: #fff !important;
}
#elimiban {
   height: 64px;
   background-image: url(../img1/logo-white.png);
   background-repeat: no-repeat;
}
#her {
   padding: 10px 30px !important;
   border-radius: 25px;
   background-color: #030934;
   transition: 0.45s;
}
#her:hover {
   background-color: black;
}
#ulimarginy {
   margin-right: 0 !important;
   width: 100% !important;
}
#firstcontainer {
   position: sticky !important;
   top: 0;
   background-color: #fff;
   z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}
#first_section {
   background-color: #fff;
}
#first_row {
   height: 90px;
}
#first_row a {
   font-size: 16px;
   font-weight: 600;
   padding: 0 !important;
   width: 100% !important;
   color: black;
}
.classik:hover {
   color: #d5193e !important;
}
#secondcontainer {
   display: none;
   position: sticky;
   top: 0;
   z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999;
   background-color: #001e3c !important;
}

@media screen and (max-width: 991px) {
   #firstcontainer {
      display: none;
   }
   #secondcontainer {
      display: block;
   }
}
#navikiknopka {
   color: white;
}
.aer {
   color: white !important;
   text-align: center;
   font-weight: 500;
}
#cucakmekidiv {
   top: 32%;

   position: absolute;
   background-color: #fff;
   left: 32%;
   border-radius: 5px;
   animation: cucamekidiv 1s linear 1 forwards;
   display: none;
}
#home:hover #cucakmekidiv {
   display: block;
}
@keyframes cucakmekidiv {
   from {
      opacity: 0.8;
      transform: scale(1.05);
   }
   to {
      opacity: 1;
      transform: scale(1.1);
   }
}
#cucakmekidiv ul {
   list-style: none;
   padding: 0;
}
#cucakmekidiv a {
   text-align: center;

   font-weight: 500;
   font-size: 0.7rem;
   color: #161616;
   text-decoration: none !important;
}

#amek {
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   transition: 0.45s;
}
#aerkus {
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   transition: 0.45s;
}

#cucakmek li {
   padding: 2px 60px;
}
#cucakmekidiv li:hover {
   background-color: red;
}

#cucakerkusidiv {
   top: 66%;
   position: absolute;
   background-color: #fff;
   left: 32%;
   border-radius: 5px;
   animation: cucakerkusidiv 1s linear 1 forwards;
   display: none;
}
#pages:hover #cucakerkusidiv {
   display: block;
}
@keyframes cucakerkusidiv {
   from {
      opacity: 0.8;
      transform: scale(1.05);
   }
   to {
      opacity: 1;
      transform: scale(1.1);
   }
}
#cucakerkusidiv ul {
   list-style: none;
   padding: 0;
}
#cucakerkusidiv a {
   text-align: center;

   font-weight: 500;
   font-size: 0.7rem;
   color: #161616;
   text-decoration: none !important;
}

#amekik {
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   transition: 0.45s;
}

#aereqik {
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   transition: 0.45s;
}
#aerkusik {
   transition: 0.45s;
}
#cucakerku li {
   padding: 2px 60px;
}
#cucakerkusidiv li:hover {
   background-color: red;
}
#heraxos {
   padding: 15px 30px;
   border-radius: 25px;
   transition: 0.45s;
}
#heraxos:hover {
   background-color: black;
}
#cucakmekidivik {
   top: 75%;
   /*    border: 1px solid red;*/
   box-shadow: 0px 12px 43px -22px rgba(0, 0, 0, 1);
   position: absolute;
   background-color: #fff;
   left: -5%;
   border-radius: 5px;
   animation: cucakmekidivik 1s linear 1 forwards;
   display: none;
}
#homik:hover #cucakmekidivik {
   display: block;
}
@keyframes cucakmekidivik {
   from {
      /* opacity: 0.8; */
      transform: scale(1.05);
      top: 75%;
   }
   to {
      /* opacity: 1; */
      transform: scale(1.1);
      top: 65%;
   }
}
#cucakmekidivik ul {
   list-style: none;
   padding: 0;
}
#cucakmekidivik a {
   text-align: center;

   font-weight: 500;
   font-size: 0.7rem;
   color: #161616;
   text-decoration: none !important;
}

#ameko {
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   transition: 0.45s;
}
#aerkuso {
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   transition: 0.45s;
}

#cucakmekik li {
   padding: 2px 60px;
}
#cucakmekidivik li:hover {
   background-color: red;
}
#cucakerkusidivik {
   top: 80%;
   position: absolute;
   background-color: #fff;
   left: 27%;
   border-radius: 5px;
   animation: cucakerkusidivik 1s linear 1 forwards;
   display: none;
   box-shadow: 0px 12px 43px -22px rgba(0, 0, 0, 0.47);
}
#pagik:hover #cucakerkusidivik {
   display: block;
}
@keyframes cucakerkusidivik {
   from {
      opacity: 0.8;
      transform: scale(1.05);
   }
   to {
      opacity: 1;
      transform: scale(1.1);
   }
}
#cucakerkusidivik ul {
   list-style: none;
   padding: 0;
}
#cucakerkusidivik a {
   text-align: center;

   font-weight: 500;
   font-size: 0.7rem;
   color: #161616;
   text-decoration: none !important;
}

#amekiko {
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   transition: 0.45s;
}

#aereqiko {
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   transition: 0.45s;
}
#aerkusiko {
   transition: 0.45s;
}
#cucakerkusik li {
   padding: 2px 60px;
}
#cucakerkusidivik li:hover {
   background-color: red;
}
#arajinimg {
   padding: 0;
   margin: 0;
   background-image: url(../img1/barbell-workout.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 600px;
}
#onthenkar {
   top: 30%;
   position: relative;
}
#nkarivrigrac {
   margin: 0;
   color: #fff;
   letter-spacing: 2px;
   font-family: "Muli", sans-serif;
   font-size: 15px;
   font-weight: 400;
   position: relative;
}
#enmecgracy {
   font-family: "Montserrat", sans-serif;
   color: #fff;
   font-size: 75px;
   font-weight: 700;
}
@media screen and (max-width: 717px) {
   #enmecgracy {
      font-size: 50px;
   }
}
#inchvorban {
   display: block !important;
}
#enmecitakiny {
   color: #fff;
   opacity: 0.8;
   font-size: 20px;
   margin-bottom: 30px;
}
#knopkaya {
   border: none;
   background-color: #e9204f;
   padding: 14px 40px;
   border-radius: 50px;
   color: #fff;
   font-size: 14px;
   letter-spacing: 1px;
   font-weight: 700;
   transition: all 0.2s linear;
}
#knopkaya:hover {
   background-color: #060b60;
}
#abouty::after {
   position: absolute;
   content: "";
   left: 0px;
   right: 0px;
   bottom: 0px;
   width: 50px;
   height: 3px;
   margin: 0 auto;
   background-color: red;
}
#abouty {
   box-sizing: border-box;
   position: relative;
}
.shoxq {
   transition: all 0.6s linear;
}
.shoxq:hover {
   transform: scale(1.3);
}
.nkarik {
   overflow: hidden;
}
.nkarik {
   border-radius: 50%;
   box-shadow: 0px 6px 0px 0px rgba(233, 32, 79, 1);
}
.nkm {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   color: #232323;
   letter-spacing: -0.4px;
   text-transform: capitalize;
}
.nkmt {
   color: #7b7b7b;
   font-family: "Montserrat", sans-serif;
}
.mardik {
   box-sizing: border-box;
}
.fon {
   background-color: #f3f9f9;
}
.mardikgr {
   padding-top: 100px;
   color: #7b7b7b;
   font-family: "Montserrat", sans-serif;
   letter-spacing: 2px;
   font-size: 14px;
   font-weight: 700 !important;
}
.mectg {
   font-weight: bolder;
   font-size: 42px;
}
.gyming {
   color: rgba(233, 32, 79, 1);
}
.health {
   color: rgba(233, 32, 79, 1);
}
.takina {
   font-size: 20px;
   font-weight: 300;
   color: #7b7b7b;
}
.vaxknopka {
   background-color: rgba(233, 32, 79, 1);
   color: #fff;
   border: none;
   font-size: 14px;
   letter-spacing: 1px;
   padding: 14px 40px;
   border-radius: 50px;
   font-weight: 700;
   /* border: 2px solid transparent; */
   transition: all 0.2s ease;
}
.afterinman {
   background-color: #fff;
}

#spisok {
   font-size: 80px;
   position: relative;
   color: rgba(233, 32, 79, 1);
   z-index: 99999999999999999999999999999999999999999999999999;
}
.afterinman::after {
   content: "";
   position: absolute;
   background-color: #001e3c;
   height: 100%;
   width: 0%;
   top: 0;
   left: 0;
   transition: all 0.35s linear;
}
#mojojkk {
   position: relative;
   z-index: 99999999999999999999;
}
.afterinman:hover::after {
   width: 100%;
}
.afterinman {
   position: relative;
   width: 255px;
   height: 201px;
   margin: 0px auto;
}
.afterinman:hover #mojojkk {
   color: white;
}
#mojojkkik {
   position: relative;
   z-index: 99999999999999999999;
   color: #8397b4;
}
.ourservices {
   font-family: "Montserrat", sans-serif;
   h2::after {
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      margin: 0px auto;
      width: 45px;
      height: 4px;
      background-color: red;
      content: "";
   }
   h2 {
      position: relative;
      box-sizing: border-box;
      font-weight: 700 !important;
   }
   p {
      color: #7f7b8b;
      font-size: 20px;
      padding: 0;
      margin: 0;
   }
}
.ujex {
   img {
      transition: all 0.45s linear;
   }
   p {
      color: #7b7b7b;
   }
   .gnac {
      background-color: #eeeeee;
      transition: all 0.2s linear;
   }
   .card:hover .gnac {
      background-color: #001e3c;
   }
   .card:hover .card-img-top {
      transform: scale(1.2);
   }
   .dusekox {
      overflow: hidden;
   }
   .card {
      border: none !important;
      box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
   }
}
.pff {
   padding-bottom: 150px;
}
.vriny {
   background-color: #f8f9fa;
   .shadow {
      background-color: #fff;
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
   }
   input {
      width: 226.5px;
      height: 41px;
   }
   select {
      width: 226.5px;
      height: 41px;
   }
   a {
      text-decoration: none !important;
      color: white;
      background-color: #e9204f;
      border-radius: 50px;
      font-weight: 700;
      font-size: 15px;
   }
   a:hover {
      background-color: #001e3c;
   }
   .status {
      float: right;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 18px;
   }
   .bmi {
      float: left;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 18px;
   }
   .float {
      float: left;
      font-family: "Montserrat", sans-serif;
   }
   .floatik {
      float: right;
      font-family: "Montserrat", sans-serif;
   }
   .bacg {
      color: #7e7b7b;
      font-family: "Montserrat", sans-serif;
   }
}
.gallery::after {
   content: "";
   position: absolute;
   bottom: 0;
   right: 0;
   left: 0;
   margin: 0 auto;
   background-color: #e9204f;
   height: 3px;
   width: 40px;
}
.gallery {
   position: relative;
}

.nuyny::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   transition: 0.45s;
   width: 100%;
   height: 100%;
   background: linear-gradient(
      180deg,
      rgba(249, 30, 244, 0.9640231092436975) 0%,
      rgba(238, 17, 214, 0.45) 50%,
      rgba(255, 0, 249, 0.06206232492997199) 100%
   );
}
.nuyny:hover::after {
   width: 100%;
   opacity: 1;
}
.nuyny {
   position: relative;
   overflow: hidden;
   transition: all 1s linear;
   .lupaik {
      position: absolute;
      left: 46%;
      color: #ec204f;
      top: 46%;
      background-color: #fff;
      padding: 10px;
      font-size: 22px;
      border-radius: 50%;
      display: none;
   }
   &:hover .lupaik {
      display: block;
      z-index: 99999999999999999;
      transition: all 1s linear;
   }
}

#im_arac_mek {
   #first_section_mojoj {
      text-transform: capitalize;
      letter-spacing: -1.5px;
      position: relative;
      padding-bottom: 20px;
   }
   #mekHR {
      width: 6%;
      background-color: #e9204f;
      height: 3px;
   }
   #saurma {
      font-size: 1.6rem;
      font-weight: 300;
   }
}
#im_sarqac_erku {
   .kkk_qyabab {
      transition: all 0.5s linear;
box-shadow:         0px 9px 19px 0px rgba(48, 50, 50, 0.2);
      &:hover {
         background: linear-gradient(to bottom, #ac32e4 0%, #ac32e4 20%, #001E3C 100%) !important;
         color: white
      }
      &:hover p {
         transition: all 0.5s linear;
         color: #fff;
      }
      &:hover li {
         transition: all 0.5s linear;
         color: red;
         background-color: #fff;
      }
   }
   .team_mek {
      border-radius: 50%;

   }
   #araji_ul_qyabab {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
         display: inline-block;
         margin-left: 20px;
         background-color: #fff;
         border-radius: 50%
      }
   }
   #tvinq::after{
      content: "";
      position: absolute;
      bottom: -2.5%;
      right: 0px;
      left: 0px;
      margin: 0 auto;
      width: 80%;
      height: 2.5%;
box-shadow:         0px 9px 19px 0px rgba(48, 50, 50, 0.2);
      background-color: #fff;
   }
   #tvinq{
      position: relative;
      z-index: 8888888888888888888888
   }
   .kkk_qyabab{
      z-index: 99999999999999999999999999999999999999;
      position: relative;
   }
  }
  .sksvav{
   background-color: #001E3C;
   color: #fff;
   padding: 45px 35px;
  }
  .gglounge{
   a{
      background-color: #E9204F;
      color: #fff;
      float: right;
      top: 10%;
      position: relative;
      border-radius: 40px;
      text-decoration: none!important;
      transition: all 0.2s linear
   }
   a:hover{
      background-color: #144162
   }
  }
.karusel{
   margin-top: 100px;
   font-size: 40px;
   span{
      background-color: #0D2946;
      color: #7F8E9D;
      border-radius: 50%;
      font-size: 60px!important;
   }
}
   .tuz{
      color: #B2BBC4;
      font-size: 22px!important
   }
.vorinch{
   img{
      display: inline-block;
      border-radius: 50%;
      box-shadow: 0px 6px 0px 0px rgba(233, 32, 79, 1);
   }
   .pimek{
      display: inline-block!important;
      h3{
         color: #fff;
         position: relative;
         top: 20px
      }
      span{
         color: #B0B9C3;
         position: relative;
         top: 20px
      }
   }

}
.ktoc{
   background-color: #001E3C
}
.afterot:after{
   content: "";
   position: absolute;
   bottom: 0;
   right: 0;
   left: 0;
   margin: 0 auto;
   background-color: #e9204f;
   height: 3px;
   width: 40px;
}
.afterot{
   position: relative;
}
.verjyerevuma{
   font-size: 20px;
   color: #7B7B8B
}
.free:after{
content: "";
   position: absolute;
   bottom: 0;
   right: 0;
   left: 0;
   margin: 0 auto;
   background-color: #e9204f;
   height: 3px;
   width: 40px;
}
.free{
   position: relative;
}
.chval{
   line-height: 40px
}
#lll{
   width: 150px
}
.ktc{
   font-size: 20px
}
.kro{
  box-shadow:         0px 9px 19px 0px rgba(48, 50, 50, 0.2);;
  position: relative;
  z-index: 4
}
.kro{
   transition: all .2s linear;
  
}
.kro:hover{
background-color:  #001E3C;
color: #fff
}
      .hetaguyn::after{
         content: "";
      position: absolute;
      bottom: -0.7%;
      right: 0px;
      left: 0px;
      margin: 0 auto;
      width: 80%;
      height: 2.5%;
box-shadow:         0px 9px 19px 0px rgba(48, 50, 50, 0.2);
      background-color: #fff;
      }
      .hetaguyn{  position: relative; 
      }

   .mievnuynna{
       display: inline-block;
       position: relative;
       input{
         border: none!important;
         background-color: #F7F7F7;
         width: 276px;
         height: 41px;
         padding: 6px 12px
       }
       
   }
.vrto{
   h6{
         font-size: 15px!important;
         font-weight: 500

       }
}
.tuuu{
   input{
      border: none;
      background-color: #F7F7F7;
      height: 41px;
      width: 96%;
      padding: 6px 12px
   }
   textarea{
       border: none;
      background-color: #F7F7F7;
     width: 96%;
      padding: 6px 12px
   }
}
.dxk{
   a{
      background-color: #E9204F;
      padding: 14px 40px;
      color: #fff;
      text-decoration: none!important;
      border-radius: 25px;
      transition: all .1s linear;
     
   }
   a:hover{
      background-color: #001E3C;
      color: #fff
   }
}
.gjv{
   position: relative;
}
.gjv::after{
    content: "";
   position: absolute;
   bottom: 0;
   right: 0;
   left: 0;
   margin: 0 auto;
   background-color: #e9204f;
   height: 3px;
   width: 40px;
}
.vay{
   background-color: #F7F7F7
}
.vsv{
   font-size: 20px;
   color: #7B7B8E
}
.axxx{
   font-size: 14px;
   color:#7B7B7B;
}
.uuf{
h4{
   font-weight: 700;
   .veeerj{
      text-decoration: none;
      color: black;
      transition: all .45s linear;
    
   }
     .veeeerj:hover {
         color:#E9204F;
         cursor: pointer;
      };
}
.tuktuk{
 color:#7B7B7B;  
}
.tdm{
   color: red
}
.klas{
   text-decoration: none!important;
 color: red!important  
}
}